header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
  height: 6.5vh;
  z-index: 1000;
}
#head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  gap: 1rem;
  height: 6.5vh;
  z-index: 1000;
}
header nav {
  display: flex;
  z-index: 999;
}
header nav,
header section {
  width: 33%;
}
header nav a {
  border: 1rem solid transparent;
  z-index: 999;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.botoes {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}
#home {
  color: #ff7526;
}
#pages {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  z-index: 999;
}
.pages_list {
  background-color: #f4f4f4;
  border: 10px solid #f4f4f4;
  border-radius: 0px 0px 10px 10px;
  width: max-content;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20px;
  left: -30px;
  z-index: -1;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.show_list {
  z-index: 1;
  opacity: 1;
  transform: translateY(20px);
}
#pages_list a:hover {
  color: #ff7526;
}
header img {
  width: 7rem;
  height: auto;
}
header img:hover {
  cursor: pointer;
}

.botoes {
  display: flex;
  gap: 1rem;
}
